################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/cxc-back/bin/Debug/net5.0
/.vs/cxc-back
/cxc-back/obj
/cxc-back.Testing/bin/Debug/net5.0
/cxc-back.Testing/obj
